<main class="main">
  <div class="container">
    <div class="grid-box">
      <div class="inner-box start-drinking">
        <div class="btns-wrapper">
          <!-- left arrow -->
          <!-- click btn -->
          <!-- right arrow -->

        </div>
      </div>
      <div class="inner-box healthy">

      </div>
      <div class="inner-box thirsty">

      </div>
      <div class="inner-box freshy">

      </div>
      <div class="inner-box carrot">

      </div>
      <div class="inner-box orange">

      </div>
      <div class="inner-box footer">

      </div>
      <div class="inner-box juisy">

      </div>
    </div>
  </div>
</main>